.county {
    border: solid;
    height: 20px;
    width: 20px;
}

div[data-faction='0'] {
    background-color: lightyellow
}

div[data-faction='1'] {
    background-color: greenyellow
}

div[data-faction='2'] {
    background-color: cornflowerblue
}

.selected {
    background-color: red
}

.inacessible {
    filter: brightness(40%);
}